body, html {
  overflow: auto;
}

body {
  margin: 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 900px;
  background-color: #9285e6;
}

#mainContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 10fr;
}

#navContainer {
  display: grid;
  grid-template-columns: auto 50px 50px auto 50px auto;
  grid-template-rows: 20px auto 20px;
}

#logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#navCenterContainer {
  background-color: #4c00ff;
  box-shadow: 5px 10px #3400a6;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 10px 50px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  padding: 0px 30px 0px 30px;
}

.navElements {
  color: white;
  text-decoration: none;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-family: "Segoe UI";
  font-size: 20px;
  min-width: 200px;
}

.navElements:hover {
  font-weight: bold;
}

#emptySpace {
  animation-name: pushMainTxt;
  animation-delay: 0s;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}

@keyframes pushMainTxt {
    0% {height:0px}
    100% {height:100px}
}

.imgArea {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}

#centerArea {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

img {
  max-width: 500px;
  margin-bottom: 30px;
}
